.form-group
  label
    abbr
      color: red

.errors_block
  color: red
  font-zsize: 12px

.button_box
  .btn
    margin: 5px 0px
  .btn:not(:first-child)
    margin-left: 5px

.alert
  text-align: center

.handle
  cursor: pointer

// Padding

.padding-bottom-10
  padding-bottom: 10px
.padding-top-10
  padding-top: 10px
.padding-top-20
  padding-top: 20px

// Margin

.margin-top-10
  margin-top: 10px
.margin-bottom-10
  margin-bottom: 10px
.margin-top-20
  margin-top: 20px
.margin-bottom-20
  margin-bottom: 20px
.margin-right-10
  margin-right: 10px
.margin-right-3
  margin-right: 3px
.margin-right-20
  margin-right: 20px
.margin-left-10
  margin-left: 10px

// Width

.width-100-percentage
  width: 100%
